/*.color1 { #1c0b2b };
.color2 { #301c41 };
.color3 { #413b6b };
.color4 { #5c65c0 };
.color5 { #6f95ff };*/

body {
  margin: 0;
  padding: 0;
}
:root {
  background: linear-gradient(135deg, #42AAEB, #A6C0FF);
}